<form class="find" action="/folders/find_folder" method="get">

  <small>Search or hit 'enter' for all folders</small>

  <label>
    <input type="text" name="query" placeholder="Find folder...">
  </label>

  <input type="submit" value="">

</form>
