<!doctype html>

<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>r.note</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/application.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%== erb :_flash_messages %>

    <header class="user-settings">

      <%== erb :_user_settings_widget %>

    </header>

    <%== yield %>

  </body>

</html>
