<!doctype html>

<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>r.note</title>
    <link rel="stylesheet" href="/stylesheets/login_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header>

      <div class="column">

        <section class="title">

          <a href="/sign_in">
            <h1 class="logo">r.note</h1>
          </a>

          <nav class="main-nav">

            <ul>

              <li>

                <a href="#use-cases">
                  <h3>Use Cases</h3>
                </a>


              </li><!--

              --><li>

                <a href="#">
                  <h3>Pricing</h3>
                </a>

              </li><!--

              --><li>

                <a href="#">
                  <h3>Contact</h3>
                </a>

              </li>

            </ul>

          </nav>

        </section>

      </div>

    </header>

    <main>

      <%== yield %>

    </main>

    <footer>

      <div class="column">

        <a href="/sign_in">
          <h1 class="logo">r.note</h1>
        </a>

        <nav class="main-nav">

          <ul>

            <li>

              <a href="#use-cases">
                <h3>Use Cases</h3>
              </a>


            </li><!--

            --><li>

              <a href="#">
                <h3>Pricing</h3>
              </a>

            </li><!--

            --><li>

              <a href="#">
                <h3>Contact</h3>
              </a>

            </li>

          </ul>

        </nav>

      </div>

    </footer>

  </body>

</html>
