<div id="create-new-folder">

  <header class="primary-header">

    <h3>Create New Folder</h3>

  </header>

  <header class="user-settings">
    <a href="#">Jason</a>
  </header>

  <main>

    <aside class="folder-menu">

      <a class="logo" href="/">
        <img src="/images/logo.png" alt="logo">
      </a>

      <header>

        <h2>Tips:</h2>

        <p>
          Folder types can help you quickly identify what kind of folder this
          is. Also very useful for when filtering search results. Enter
          multiple types separated by a space.
        </p>

        <p>
          Attributes are key traits like a person's title and contact
          information.
        </p>

      </header>

      <form class="find" action="/folders/find_folder" method="get">
        <small>Search or hit 'enter' for all folders</small>
        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>
        <input type="hidden" name="filter_by_type" value="all_types">
        <input type="hidden" name="sort" value="no_sort">
        <input type="submit" value="">
      </form>

    </aside>

    <section class="primary-body">

      <form action="/folders/new" method="post">

        <fieldset>

          <dl>

            <div class="form-row">
              <dt>
                <label for="name">What should this folder be called?</label>
              </dt>
              <dd>
                <input type="text" name="name" id="name" placeholder="Person, Place or Thing">
              </dd>
            </div>

            <div class="form-row">
              <dt>
                <label for="type">What type of folder is this?</label>
              </dt>
              <dd>
                <input type="text" name="type" id="type" placeholder="Account, Contact, Event, etc.">
              </dd>
            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr1">Attribute 1:</label>
                </dt>
                <dd>
                  <input type="text" name="attr1" id="attr1" placeholder="Title">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value1"></label>
                </dt>
                <dd>
                  <input type="text" name="value1" id="value1" placeholder="VP of Product">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr2">Attribute 2:</label>
                </dt>
                <dd>
                  <input type="text" name="attr2" id="attr2" placeholder="Email">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value2"></label>
                </dt>
                <dd>
                  <input type="text" name="value2" id="value2" placeholder="jane@gmail.com">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr3">Attribute 3:</label>
                </dt>
                <dd>
                  <input type="text" name="attr3" id="attr3" placeholder="">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value3"></label>
                </dt>
                <dd>
                  <input type="text" name="value3" id="value3" placeholder="">
                </dd>
              </div>

            </div>

            <% if @parent_id %>

              <div id="link-folders" class="form-row">

                <input type="checkbox" name="parent_id" id="parent_id" value="<%= @parent_id %>">
                <label for="parent_id">Link this new record to <%= @parent_name %>?</label>

              </div>

            <% end %>

          </dl>

        </fieldset>

        <input class="btn form-submit" type="submit" value="Create New Folder">

      </form>

    </section>

  </main>

</div>
