<main>

  <div id="create-new-folder" class="folder-form">

    <header class="main-header">

      <h1>Create New Folder</h1>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

      </header>

      <section>

        <h2>Tips:</h2>

        <p>
          Folder tags can help you quickly identify what kind of folder this
          is. Also very useful for when filtering search results. Separate
          multiple tags with a space.
        </p>

        <p>
          Attributes are key traits like a person's title and contact
          information.
        </p>

      </section>

      <%== erb :_find_folder_widget %>

    </aside>

    <section class="main-body">

      <form action="/folders/new" method="post">

        <fieldset>

          <dl>

            <div class="form-row">
              <dt>
                <label for="name">What should this folder be called?</label>
              </dt>
              <dd>
                <input type="text" name="name" id="name" placeholder="Person, Place or Thing">
              </dd>
            </div>

            <div class="form-row">
              <dt>
                <label for="tags">Tags:</label>
              </dt>
              <dd>
                <input type="text" name="tags" id="tags" placeholder="Account, Contact, Event, etc.">
              </dd>
            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr1">Attribute 1:</label>
                </dt>
                <dd>
                  <input type="text" name="attr1" id="attr1" placeholder="Title">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value1"></label>
                </dt>
                <dd>
                  <input type="text" name="value1" id="value1" placeholder="VP of Product">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr2">Attribute 2:</label>
                </dt>
                <dd>
                  <input type="text" name="attr2" id="attr2" placeholder="Email">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value2"></label>
                </dt>
                <dd>
                  <input type="text" name="value2" id="value2" placeholder="jane@gmail.com">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr3">Attribute 3:</label>
                </dt>
                <dd>
                  <input type="text" name="attr3" id="attr3" placeholder="">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value3"></label>
                </dt>
                <dd>
                  <input type="text" name="value3" id="value3" placeholder="">
                </dd>
              </div>

            </div>

            <% if @parent_id %>

              <div class="optional-link" class="form-row">

                <input type="checkbox" name="parent_id" id="parent_id" value="<%= @parent_id %>">
                <label for="parent_id">Link this new folder to <%= @parent_name %>?</label>

              </div>

            <% end %>

          </dl>

        </fieldset>

        <input class="btn form-submit" type="submit" value="Create New Folder">

      </form>

    </section>

  </div>

</main>
