/*
==============================
CSS Reset
==============================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  line-height: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================
Standard Element Styles
==============================
*/

html {
  font: normal 14px "Nunito", sans-serif;
  line-height: 1.3;
  color: #363636;
}

body {
  padding-top: 100px;
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  padding-bottom: 1rem;
  line-height: 2;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

fieldset {
  border: none;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

article {
  padding-bottom: 50px;
}

article header {
  padding-bottom: 20px;
  overflow: hidden;
}

article time {
  float: right;
  padding-top: 10px;
  font-size: 1.2rem;
}

form {
  overflow: hidden;
}

form dt {
  padding-bottom: 10px;
}

form input[type="text"] {
  padding: 0.5rem 10px;
  font-size: 1.2rem;
}

form textarea {
  padding: 0.5rem 10px;
  font-size: 1.3rem;
  line-height: 2;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
}

/*
==============================
Custom Styles
==============================
*/

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.welcome-new-note {
  display: block;
  max-width: 500px;
  height: 300px;
  border: 3px dashed #dadada;
  border-radius: 4px;
  margin: 10vh auto 0 auto;
  padding: 30px;
  text-align: center;
}

.welcome-new-note h1 {
  padding-bottom: 30px;
  padding-top: 23px;
}

.display-note-body {
  white-space: pre-wrap;
  line-height: 2;
  font-size: 1.3rem;
}

.form-row {
  padding-bottom: 20px;
}

.form-error {
  display: block;
  color: red;
  padding-left: 10px;
  padding-top: 5px;
}

/*
==============================
Button Styles
==============================
*/

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  background: inherit;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}

/*
==============================
User Settings Styles
==============================
*/

.user-settings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 300px;
  height: 100px;
  padding: 20px;
  box-shadow: 0 20px 10px -3px #fff;
  overflow: hidden;
}

.user-settings a {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  color: #363636;
}

.user-settings a::after {
  content: '';
  display: inline-block;
  background: transparent url("../images/icon_menu.png") 0 0 no-repeat;
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  vertical-align: text-bottom;
  margin-left: 20px;
}

/*
==============================
Main Header Styles
==============================
*/

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px 40px 0 40px;
  margin-left: 350px;
  margin-right: 300px;
  background: #fff;
  box-shadow: 0 20px 10px -3px #fff;
  z-index: 1;
  overflow: hidden;
}

.main-header h1 {
  float: left;
}

.main-header .btn {
  border: 1px solid #363636;
  color: #363636;
}

.main-header .btn:hover {
  border: 1px solid #97a7b1;
  color: #97a7b1;
}

/*
==============================
Folder Menu Styles
==============================
*/

.folder-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 20px;
  background: #363636;
  color: #dadada;
  z-index: 2;
}

.folder-menu h1 {
  padding-bottom: 10px;
  color: #bad0df;
}

.folder-menu h2 {
  color: #dadada;
}

.folder-menu .folder-attributes {
  padding-top: 40px;
}

.folder-menu .folder-attributes h4 {
  padding-bottom: 0.5rem;
  color: #bad0df;
}

.folder-menu .folder-attributes dd {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.folder-menu .find {
  position: fixed;
  z-index: -1;
  bottom: 20px;
  width: 310px;
}

.folder-menu .find small {
  display: block;
  font-size: 1rem;
  padding-bottom: 8px;
  padding-left: 5px;
}

.folder-menu .find input[name="query"] {
  border: 1px solid #dadada;
  background: inherit;
  color: #dadada;
}

.folder-menu .btn {
  border: 1px solid #dadada;
  color: #dadada;
}

.folder-menu .btn:hover {
  border: 1px solid #bad0df;
  color: #bad0df;
}

.folder-menu .folder-action {
  margin-left: 10px;
  float: right;
}

/*
==============================
Find Folder Styles
==============================
*/

.find input[name="query"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.find input[type="submit"] {
  display: none;
}

/*
==============================
Filter-Sort Styles
==============================
*/

.filter-sort form {
  padding-top: 40px;
}

.filter-sort label {
  color: #bad0df;
  font-size: 1.1rem;
}

.filter-sort dl,
.filter-sort dd {
  padding-bottom: 20px;
}

.filter-sort select {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #dadada;
  background: #363636;
}

.filter-sort input[type="submit"] {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

/*
==============================
Folder Summary Styles
==============================
*/

.folder-summary {
  display: inline-block;
  cursor: pointer;
}

.folder-summary:hover {
  color: #97a7b1;
}

.folder-summary ul {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.folder-summary h3 {
  padding-bottom: 5px;
}

/*
==============================
Main Body Styles
==============================
*/

.main-body {
  margin: 0 300px 0 350px;
  padding: 20px 40px;
}

.main-body a {
  color: #363636;
}

.main-body a:hover {
  color: #97a7b1;
}

.main-body form input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 4px;
  background: inherit;
  width: 400px;
}

.main-body form.find {
  padding-bottom: 30px;
}

.main-body .btn {
  border: 1px solid #363636;
  color: #363636;
}

.main-body .btn:hover {
  border: 1px solid #97a7b1;
  color: #97a7b1;
}

.main-body .btn-delete {
  border: 1px solid #97a7b1;
  color: #97a7b1;
}

.main-body .btn-delete:hover {
  color: #c2563f;
  border: 1px solid #c2563f;
}

/*
==============================
Related Folders Styles
==============================
*/

.related-folders {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: scroll;
  z-index: 1;
}

.related-folders a {
  color: #363636;
}

.related-folders a:hover {
  color: #97a7b1;
}

.related-folders > ul {
  padding: 20px;
}

.related-folders .folder-summary {
  margin-bottom: 30px;
  border-left: 3px solid #dadada;
  padding-left: 10px;
}

/*
==============================
Folder Form Styles
==============================
*/

.folder-form .main-body {
  margin-right: 0;
  padding: 20px 40px;
}

.folder-form .folder-menu h2 {
  padding-bottom: 20px;
}

.folder-form .form-row:nth-of-type(2) {
  padding-bottom: 40px;
}

.folder-form .col-1 {
  display: inline-block;
  padding-right: 30px;
}

.folder-form .col-1 input[type="text"] {
  width: 200px;
}

.folder-form .col-2 {
  display: inline-block;
}

.folder-form .col-2 input[type="text"] {
  width: 500px;
}

.folder-form .form-submit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*
==============================
Create New Folder Page Styles
==============================
*/

#create-new-folder .optional-link {
  padding-top: 20px;
  color: #c2563f;
}

#create-new-folder .optional-link input[type="checkbox"] {
  display: none;
}

#create-new-folder .optional-link label::before {
  content: "";
  display: inline-block;
  height: 21px;
  width: 21px;
  margin-right: 20px;
  border: 1px solid #dadada;
  border-radius: 4px;
  vertical-align: -4px;
  cursor: pointer;
}

#create-new-folder .optional-link input[type="checkbox"]:checked + label::before {
  background: transparent url("../images/bg_checked.png");
}

/*
==============================
Edit Folder Page Styles
==============================
*/

#edit-folder .link-folder {
  position: fixed;
  bottom: 20px;
  left: 550px;
}

#edit-folder .unlink-folder {
  position: fixed;
  bottom: 20px;
  left: 690px;
}

#edit-folder .delete-folder {
  position: fixed;
  bottom: 20px;
  left: 390px;
}

/*
==============================
Note Form Styles
==============================
*/

.note-form .form-submit {
  float: right;
}

.note-form .main-body form {
  padding-bottom: 20px;
}

.note-form textarea {
  width: 100%;
  height: 50vh;
}

/*
==============================
Create New Note Page Styles
==============================
*/

#create-new-note .main-body .notes li:first-of-type {
  padding-top: 50px;
}

#create-new-note .main-body textarea {
  width: 100%;
  height: 50vh;
}

/*
==============================
Edit Note Page Styles
==============================
*/

#edit-note .note-delete {
  float: left;
}

#edit-note #active-note {
  padding-top: 120px;
  margin-top: -100px;
}

/*
==============================
Find Folder / Link Folder Styles
==============================
*/

.find-link .main-body .results-list > li {
  margin-bottom: 20px;
}

/*
==============================
Link / Unlink Folder Popout Page Styles
==============================
*/

#link-folder .popout h1 {
  text-align: center;
  padding-bottom: 20px;
}

#link-folder .popout form {
  display: none;
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  padding: 20px;
  width: 500px;
  background: #fff;
  border-radius: 4px;
  z-index: 3;
  overflow: hidden;
}

#link-folder .popout img {
  display: block;
  margin: 0 auto;
}

#link-folder .popout .folder-summary {
  width: 100%;
  border: 1px solid #dadada;
  padding: 20px;
  border-radius: 4px;
}

#link-folder .popout .btn-confirm {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
}

#link-folder .popout .btn-cancel {
  float: right;
  margin-top: 20px;
}

#link-folder input[type="checkbox"] {
  display: none;
}

#link-folder input[type="checkbox"]:checked + div.popout form {
  display: block;
}

#link-folder input[type="checkbox"]:checked + div.popout::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  z-index: 2;
}
