/*
==============================
CSS Reset
==============================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================
Standard Element Styles
==============================
*/

html {
  font: normal 14px "Raleway", sans-serif;
  letter-spacing: 0.05em;
  color: #363636;
}

body {
  padding-top: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: #bad0df;
}

h2 {
  font-size: 1.5rem;
  color: #dadada;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  padding-bottom: 1rem;
  line-height: 2;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding-bottom: 20px;
}

form label {
  font-size: 1.3rem;
  font-weight: bold;
}

/*
==============================
Custom Styles
==============================
*/

header.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px 3vw 0 3vw;
  margin-left: 350px;
  margin-right: 300px;
  background: #fff;
  box-shadow: 0 20px 10px -3px #fff;
}

header.primary-header::after {
  clear: both;
}

header.user-settings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 300px;
  height: 100px;
  padding: 20px;
  box-shadow: 0 20px 10px -3px #fff;
}

header.user-settings a {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  color: #363636;
}

header.user-settings a::after {
  content: '';
  display: inline-block;
  background: transparent url("../images/icon_menu.png") 0 0 no-repeat;
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  vertical-align: text-bottom;
  margin-left: 20px;
}

aside.folder-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 350px;
  padding: 20px;
  background: #363636;
  color: #fff;
}

aside.folder-menu a {
  color: #fff;
}

aside.folder-menu a:hover {
  color: #bad0df;
}

section.folder-attributes {
  padding-top: 40px;
}

section.folder-attributes dt,
section.folder-attributes dd {
  font-size: 1.1rem;
}

section.folder-attributes dt {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #bad0df;
}

section.folder-attributes dd {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  color: #dadada;
}

section.folder-actions {
  padding-top: 30px;
}

section.folder-actions li {
  padding-bottom: 1.5rem;
}

aside.folder-menu form.find {
  position: fixed;
  z-index: -1;
  bottom: 20px;
  width: 310px;
}

aside.folder-menu form.find input[name="query"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #fff;
  background: #363636;
}

form.find input[type="submit"] {
  display: none;
}

header.primary-header a:first-of-type {
  float: left;
}

header.primary-header a:last-of-type {
  float: right;
}

section.primary-body {
  margin: 0 300px 0 350px;
  line-height: 1.5;
  padding: 20px 3vw;
}

section.primary-body article {
  padding-bottom: 50px;
}

section.primary-body article header {
  padding-bottom: 20px;
  overflow: hidden;
}

section.primary-body article header a {
  color: #363636;
}

section.primary-body article header a:hover {
  color: #97a7b1;
}

section.primary-body article h3 {
  float: left;
}

section.primary-body article time {
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

section.primary-body form {
  overflow: hidden;
}

section.primary-body form input[type="text"] {
  padding: 0.5rem 10px;
  font-size: 1.2rem;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 400px;
}

section.primary-body form textarea {
  padding: 0.5rem 10px;
  font-size: 1.3rem;
  line-height: 2;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
}

aside.related-folders {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: scroll;
}

aside.related-folders a {
  color: #363636;
}

aside.related-folders a:hover {
  color: #97a7b1;
}

aside.related-folders section {
  padding: 20px;
}

aside.related-folders ul li.summary {
  margin-bottom: 20px;
}

aside.related-folders li.summary ul li {
  padding-bottom: 5px;
}

aside.related-folders li.summary ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

aside.related-folders li.summary ul li:last-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}

a.logo {
  display: inline-block;
  margin-bottom: 50px;
}

form div.form-row {
  padding-bottom: 20px;
}

form dt {
  padding-bottom: 10px;
}

/*
==============================
Button Styles
==============================
*/

.btn {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #363636;
  border-radius: 4px;
  color: #363636;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  border: 1px solid #97a7b1;
  color: #97a7b1;
}

/*
==============================
Create New Folder Page Styles
==============================
*/

#create-new-folder h3 {
  display: inline;
}

#create-new-folder p {
  padding-top: 20px;
  color: #dadada;
}

#create-new-folder section.primary-body {
  margin-right: 0;
  padding: 20px 3vw;
}

#create-new-folder form div.form-row:nth-of-type(2) {
  padding-bottom: 40px;
}

#create-new-folder form div.col-1 {
  display: inline-block;
  padding-right: 30px;
}

#create-new-folder form div.col-1 input[type="text"] {
  width: 200px;
}

#create-new-folder form div.col-2 {
  display: inline-block;
}

#create-new-folder form div.col-2 input[type="text"] {
  width: 300px;
}

#create-new-folder form input.form-submit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*
==============================
Create New Note Page Styles
==============================
*/

#create-new-note h3 {
  display: inline;
}

#create-new-note form input.form-submit {
  float: right;
}

#create-new-note section.primary-body form {
  padding-bottom: 20px;
}

#create-new-note section.primary-body article:first-of-type {
  padding-top: 50px;
}

#create-new-note form textarea {
  width: 100%;
  height: 50vh;
}

/*
==============================
Edit Note Page Styles
==============================
*/

#edit-note h3 {
  display: inline;
}

#edit-note form input.form-submit {
  float: right;
}

#edit-note section.primary-body form {
  padding-bottom: 20px;
}

#edit-note form textarea {
  width: 100%;
  height: 50vh;
}

#edit-note #active-note {
  padding-top: 120px;
  margin-top: -100px;
}
