/*
==============================
CSS Reset
==============================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================
Standard Element Styles
==============================
*/

html {
  font: normal 14px "Raleway", sans-serif;
  letter-spacing: 0.05em;
  color: #363636;
}

body {
  padding-top: 100px;
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: #bad0df;
}

h2 {
  font-size: 1.5rem;
  color: #dadada;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 20px;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #97a7b1;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  padding-bottom: 1rem;
  line-height: 2;
  font-size: 1.3rem;
}

pre {
  white-space: pre-wrap;
  line-height: 2;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding-bottom: 20px;
}

form label {
  font-size: 1.3rem;
  font-weight: bold;
}

/*
==============================
Custom Styles
==============================
*/

header.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px 40px 0 40px;
  margin-left: 350px;
  margin-right: 300px;
  background: #fff;
  box-shadow: 0 20px 10px -3px #fff;
  z-index: 1;
}

header.primary-header::after {
  clear: both;
}

header.user-settings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 300px;
  height: 100px;
  padding: 20px;
  box-shadow: 0 20px 10px -3px #fff;
  z-index: 2;
}

header.user-settings a {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  color: #363636;
}

header.user-settings a::after {
  content: '';
  display: inline-block;
  background: transparent url("../images/icon_menu.png") 0 0 no-repeat;
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  vertical-align: text-bottom;
  margin-left: 20px;
}

aside.folder-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 350px;
  padding: 20px;
  background: #363636;
  color: #fff;
  z-index: 2;
}

aside.folder-menu a {
  color: #fff;
}

aside.folder-menu a:hover {
  color: #bad0df;
}

section.folder-attributes {
  padding-top: 40px;
}

section.folder-attributes dt {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #bad0df;
}

section.folder-attributes dd {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: #dadada;
}

aside.folder-menu form.find {
  position: fixed;
  z-index: -1;
  bottom: 20px;
  width: 310px;
}

aside.folder-menu form.find small {
  display: block;
  font-size: 1rem;
  color: #dadada;
  padding-bottom: 8px;
  padding-left: 5px;
}

aside.folder-menu form.find input[name="query"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #fff;
  background: #363636;
}

aside.folder-menu form.find input[type="submit"] {
  display: none;
}

header.primary-header a:first-of-type {
  float: left;
}

header.primary-header a:last-of-type {
  float: right;
}

section.primary-body {
  margin: 0 300px 0 350px;
  line-height: 1.5;
  padding: 20px 40px;
}

section.primary-body article {
  padding-bottom: 50px;
}

section.primary-body article header {
  padding-bottom: 20px;
  overflow: hidden;
}

section.primary-body article header a {
  color: #363636;
}

section.primary-body article header a:hover {
  color: #97a7b1;
}

section.primary-body article h3 {

}

section.primary-body article time {
  float: right;
  padding-top: 10px;
  font-size: 1.2rem;
}

section.primary-body form {
  overflow: hidden;
}

section.primary-body form input[type="text"] {
  padding: 0.5rem 10px;
  font-size: 1.2rem;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 400px;
}

section.primary-body form.find {
  padding-bottom: 30px;
}

section.primary-body form.find input[type="submit"] {
  display: none;
}

section.primary-body form textarea {
  padding: 0.5rem 10px;
  font-size: 1.3rem;
  line-height: 2;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
}

aside.related-folders {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: scroll;
  z-index: 1;
}

aside.related-folders a {
  color: #363636;
}

aside.related-folders a:hover {
  color: #97a7b1;
}

aside.related-folders section {
  padding: 20px;
}

aside.related-folders ul li.summary {
  margin-bottom: 30px;
}

aside.related-folders ul li.summary ul {
  border-left: 3px solid #dadada;
  padding-left: 10px;
}

aside.related-folders li.summary ul li {
  padding-bottom: 5px;
}

aside.related-folders li.summary ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

aside.related-folders li.summary ul li:last-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}

a.logo {
  display: inline-block;
  margin-bottom: 50px;
}

form div.form-row {
  padding-bottom: 20px;
}

form dt {
  padding-bottom: 10px;
}

/*
==============================
Button Styles
==============================
*/

.btn {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #363636;
  border-radius: 4px;
  color: #363636;
  background: inherit;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  border: 1px solid #97a7b1;
  color: #97a7b1;
}

.btn-delete {
  color: #97a7b1;
  border: 1px solid #97a7b1;
}

.btn-delete:hover {
  color: #c2563f;
  border: 1px solid #c2563f;
}

#folder-command {
  float: right;
  margin-left: 10px;
  border: 1px solid #dadada;
}

#folder-command:hover {
  border: 1px solid #bad0df;
}

/*
==============================
Create New Folder Page Styles
==============================
*/

#create-new-folder header.primary-header h3 {
  display: inline;
}

#create-new-folder p {
  padding-top: 20px;
  font-size: 1.2rem;
  color: #dadada;
}

#create-new-folder section.primary-body {
  margin-right: 0;
  padding: 20px 40px;
}

#create-new-folder a.link-folder {
  position: fixed;
  bottom: 20px;
  left: 550px;
}

#create-new-folder form div.form-row:nth-of-type(2) {
  padding-bottom: 40px;
}

#create-new-folder form div.col-1 {
  display: inline-block;
  padding-right: 30px;
}

#create-new-folder form div.col-1 input[type="text"] {
  width: 200px;
}

#create-new-folder form div.col-2 {
  display: inline-block;
}

#create-new-folder form div.col-2 input[type="text"] {
  width: 300px;
}

#create-new-folder form input.form-submit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#create-new-folder form input.delete-folder {
  position: fixed;
  bottom: 20px;
  left: 390px;
}

#create-new-folder #link-folders {
  padding-top: 20px;
  color: #c2563f;
}

#create-new-folder #link-folders input[type="checkbox"] {
  display: none;
}

#create-new-folder #link-folders label::before {
  content: "";
  display: inline-block;
  height: 21px;
  width: 21px;
  margin-right: 20px;
  border: 1px solid #dadada;
  border-radius: 4px;
  vertical-align: -4px;
  cursor: pointer;
}

#create-new-folder #link-folders input[type="checkbox"]:checked + label::before {
  background: transparent url("../images/bg_checked.png");
}

/*
==============================
Create New Note Page Styles
==============================
*/

#create-new-note header.primary-header h3 {
  display: inline;
}

#create-new-note form input.form-submit {
  float: right;
}

#create-new-note section.primary-body form {
  padding-bottom: 20px;
}

#create-new-note section.primary-body article:first-of-type {
  padding-top: 50px;
}

#create-new-note form textarea {
  width: 100%;
  height: 50vh;
}

/*
==============================
Edit Note Page Styles
==============================
*/

#edit-note header.primary-header h3 {
  display: inline;
}

#edit-note form input.form-submit {
  float: right;
}

#edit-note form input.note-delete {
  float: left;
}

#edit-note section.primary-body form {
  padding-bottom: 20px;
}

#edit-note form textarea {
  width: 100%;
  height: 50vh;
}

#edit-note #active-note {
  padding-top: 120px;
  margin-top: -100px;
}

/*
==============================
View All Related Notes Page Styles
==============================
*/

#all-related-notes header.primary-header h3 {
  display: inline;
}

#all-related-notes h5 {
  display: inline;
}

/*
==============================
Find Folder Page Styles
==============================
*/

#find-folder form.find-folder-filters {
  padding-top: 40px;
}

#find-folder form.find-folder-filters label {
  color: #bad0df;
  font-size: 1.1rem;
}

#find-folder form.find-folder-filters dl {
  padding-bottom: 20px;
}

#find-folder form.find-folder-filters dd {
  padding-bottom: 20px;
}

#find-folder form.find-folder-filters select,
#find-folder form.find-folder-filters input[type="submit"] {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #fff;
  background: #363636;
}

#find-folder form.find-folder-filters input[type="submit"] {
  cursor: pointer;
  text-transform: uppercase;
}

#find-folder form.find-folder-filters input[type="submit"]:hover {
  border: 1px solid #bad0df;
  color: #bad0df;
}

#find-folder header.primary-header h3 {
  display: inline;
}

#find-folder section.primary-body {
  margin-right: 0;
  padding: 20px 40px;
}

#find-folder section.primary-body a {
  color: #363636;
}

#find-folder section.primary-body a:hover {
  color: #97a7b1;
}

#find-folder section.primary-body ul li.summary {
  margin-bottom: 20px;
}

#find-folder section.primary-body li.summary ul {
  display: inline-block;
}

#find-folder section.primary-body li.summary ul li {
  padding-bottom: 5px;
}

#find-folder section.primary-body li.summary ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

#find-folder section.primary-body li.summary ul li:last-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}

#find-folder section.primary-body form input[type="text"] {
  padding: 10px;
  font-size: 1.5rem;
  width: 500px;
}

/*
==============================
Link Folder Page Styles
==============================
*/

#link-folder section.primary-body li.summary ul:hover {
  color: #97a7b1;
  cursor: pointer;
}

#link-folder section.primary-body form input[type="text"] {
  padding: 10px;
  font-size: 1.5rem;
  width: 500px;
}

#link-folder form.find-folder-filters {
  padding-top: 40px;
}

#link-folder form.find-folder-filters label {
  color: #bad0df;
  font-size: 1.1rem;
}

#link-folder form.find-folder-filters dl {
  padding-bottom: 20px;
}

#link-folder form.find-folder-filters dd {
  padding-bottom: 20px;
}

#link-folder form.find-folder-filters select,
#link-folder form.find-folder-filters input[type="submit"] {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #fff;
  background: #363636;
}

#link-folder form.find-folder-filters input[type="submit"] {
  cursor: pointer;
  text-transform: uppercase;
}

#link-folder form.find-folder-filters input[type="submit"]:hover {
  border: 1px solid #bad0df;
  color: #bad0df;
}

#link-folder header.primary-header h3 {
  display: inline;
}

#link-folder section.primary-body {
  margin-right: 0;
  padding: 20px 40px;
}

#link-folder section.primary-body a {
  color: #363636;
}

#link-folder section.primary-body ul {
  cursor: pointer;
  margin-bottom: 20px;
}

#link-folder section.primary-body ul:hover {
  color: #97a7b1;
}

#link-folder section.primary-body ul li {
  padding-bottom: 5px;
}

#link-folder section.primary-body ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

#link-folder section.primary-body ul li:last-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}

#link-folder div.popout-confirm form {
  display: none;
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  padding: 20px;
  width: 500px;
  background: #fff;
  border-radius: 4px;
  z-index: 3;
  overflow: hidden;
}

#link-folder div.popout-confirm form ul {
  border: 1px solid #dadada;
  padding: 20px;
  border-radius: 4px;
}

#link-folder div.popout-confirm form h3 {
  text-align: center;
  padding-bottom: 20px;
}

#link-folder div.popout-confirm form img {
  display: block;
  margin: -20px auto 0 auto;
}

#link-folder div.popout-confirm input.confirm {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
}

#link-folder div.popout-confirm a.cancel {
  float: right;
  margin-top: 20px;
}

#link-folder input[type="checkbox"] {
  display: none;
}

#link-folder input[type="checkbox"]:checked + div.popout-confirm form {
  display: block;
}

#link-folder input[type="checkbox"]:checked + div.popout-confirm::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  z-index: 2;
}

/*
==============================
Link Folder Confirm Page Styles
==============================
*/

#link-folder-confirm form input.form-submit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#link-folder-confirm section.primary-body ul {
  margin-bottom: 20px;
}

#link-folder-confirm section.primary-body ul {
  display: inline-block;
}

#link-folder-confirm section.primary-body ul li {
  padding-bottom: 5px;
}

#link-folder-confirm section.primary-body ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

#link-folder-confirm section.primary-body ul li:last-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}
